
#profile-hero {
    padding-top: 20px;
}

#primary-btn {
    background-color: #F2C2C2;
}

.cta {
    margin-bottom: 40px;
}

.cta:last-child {
    margin-top: 50px;
}

.bio {
    text-align: center;
    width: 80%;
    font-size: .9em;
    margin-bottom: 50px;
    font-family: 'Poppins', sans-serif;
}

.gallery {
    display: grid;
    margin: auto;
    grid-template-columns: repeat(2, minmax(10px, 1fr));
    grid-template-rows: repeat(10, 100px);
    grid-gap: 5px;
    margin-bottom: 30px;
}


.img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
}
#leanne-gallery .img-1 {
    background-image: url(../IMG/leanne-thumb/img1.png);
    background-size: cover;
    background-position: center;
}

#leanne-gallery .img-2 {
    background-image: url(../IMG/leanne-thumb/img2.png);
    background-size: cover;
    background-position: center;
}
#leanne-gallery .img-3 {
    background-image: url(../IMG/leanne-thumb/img3.png);
    background-size: cover;
    background-position: center;
}
#leanne-gallery .img-4 {
    background-image: url(../IMG/leanne-thumb/img4.png);
    background-size: cover;
    background-position: center;
}
#leanne-gallery .img-5 {
    background-image: url(../IMG/leanne-thumb/img5.png);
    background-size: cover;
    background-position: center;
}
#leanne-gallery .img-6 {
    background-image: url(../IMG/leanne-thumb/img6.png);
    background-size: cover;
    background-position: center;
}
#leanne-gallery .img-7 {
    background-image: url(../IMG/leanne-thumb/img7.png);
    background-size: cover;
    background-position: center;
}
#leanne-gallery .img-8 {
    background-image: url(../IMG/leanne-thumb/img8.png);
    background-size: cover;
    background-position: center;
}
#leanne-gallery .img-9 {
    background-image: url(../IMG/leanne-thumb/img9.png);
    background-size: cover;
    background-position: center;
}
#leanne-gallery .img-10 {
    background-image: url(../IMG/leanne-thumb/img10.png);
    background-size: cover;
    background-position: center;
}
#leanne-gallery .img-11 {
    background-image: url(../IMG/leanne-thumb/img11.png);
    background-size: cover;
    background-position: center;
}
#leanne-gallery .img-12 {
    background-image: url(../IMG/leanne-thumb/img12.png);
    background-size: cover;
    background-position: center;
}
#leanne-gallery .img-13 {
    background-image: url(../IMG/leanne-thumb/img13.png);
    background-size: cover;
    background-position: center;
}
#leanne-gallery .img-14 {
    background-image: url(../IMG/leanne-thumb/img14.png);
    background-size: cover;
    background-position: center;
}
#leanne-gallery .img-15 {
    background-image: url(../IMG/leanne-thumb/img15.png);
    background-size: cover;
    background-position: center;
}
#leanne-gallery .img-16 {
    background-image: url(../IMG/leanne-thumb/img16.png);
    background-size: cover;
    background-position: center;
}
#leanne-gallery .img-17 {
    background-image: url(../IMG/leanne-thumb/img17.png);
    background-size: cover;
    background-position: center;
}
#leanne-gallery .img-18 {
    background-image: url(../IMG/leanne-thumb/img18.png);
    background-size: cover;
    background-position: center;
}
#leanne-gallery .img-19 {
    background-image: url(../IMG/leanne-thumb/img19.png);
    background-size: cover;
    background-position: center;
}
#leanne-gallery .img-20 {
    background-image: url(../IMG/leanne-thumb/img20.png);
    background-size: cover;
    background-position: center;
}
#leanne-gallery .img-21 {
    background-image: url(../IMG/leanne-thumb/img21.png);
    background-size: cover;
    background-position: center;
}
#leanne-gallery .img-22 {
    background-image: url(../IMG/leanne-thumb/img22.png);
    background-size: cover;
    background-position: center;
}
#leanne-gallery .img-23 {
    background-image: url(../IMG/leanne-thumb/img23.png);
    background-size: cover;
    background-position: center;
}
#leanne-gallery .img-24 {
    background-image: url(../IMG/leanne-thumb/img24.png);
    background-size: cover;
    background-position: center;
}
#leanne-gallery .img-25 {
    background-image: url(../IMG/leanne-thumb/img25.png);
    background-size: cover;
    background-position: center;
}
#leanne-gallery .img-26 {
    background-image: url(../IMG/leanne-thumb/img26.png);
    background-size: cover;
    background-position: center;
}
#leanne-gallery .img-27 {
    background-image: url(../IMG/leanne-thumb/img27.png);
    background-size: cover;
    background-position: center;
}
#leanne-gallery .img-28 {
    background-image: url(../IMG/leanne-thumb/img28.png);
    background-size: cover;
    background-position: center;
}
#leanne-gallery .img-29 {
    background-image: url(../IMG/leanne-thumb/img29.png);
    background-size: cover;
    background-position: center;
}


#katy-gallery .img-1 {
    background-image: url(../IMG/katy-thumb/img1.png);
    background-size: cover;
    background-position: center;
}

#katy-gallery .img-2 {
    background-image: url(../IMG/katy-thumb/img2.png);
    background-size: cover;
    background-position: center;
}
#katy-gallery .img-3 {
    background-image: url(../IMG/katy-thumb/img3.png);
    background-size: cover;
    background-position: center;
}
#katy-gallery .img-4 {
    background-image: url(../IMG/katy-thumb/img4.png);
    background-size: cover;
    background-position: center;
}
#katy-gallery .img-5 {
    background-image: url(../IMG/katy-thumb/img5.png);
    background-size: cover;
    background-position: center;
}
#katy-gallery .img-6 {
    background-image: url(../IMG/katy-thumb/img6.png);
    background-size: cover;
    background-position: center;
}
#katy-gallery .img-7 {
    background-image: url(../IMG/katy-thumb/img7.png);
    background-size: cover;
    background-position: center;
}
#katy-gallery .img-8 {
    background-image: url(../IMG/katy-thumb/img8.png);
    background-size: cover;
    background-position: center;
}
#katy-gallery .img-9 {
    background-image: url(../IMG/katy-thumb/img9.png);
    background-size: cover;
    background-position: center;
}
#katy-gallery .img-10 {
    background-image: url(../IMG/katy-thumb/img10.png);
    background-size: cover;
    background-position: center;
}
#katy-gallery .img-11 {
    background-image: url(../IMG/katy-thumb/img11.png);
    background-size: cover;
    background-position: center;
}
#katy-gallery .img-12 {
    background-image: url(../IMG/katy-thumb/img12.png);
    background-size: cover;
    background-position: center;
}
#katy-gallery .img-13 {
    background-image: url(../IMG/katy-thumb/img13.png);
    background-size: cover;
    background-position: center;
}
#katy-gallery .img-14 {
    background-image: url(../IMG/katy-thumb/img14.png);
    background-size: cover;
    background-position: center;
}
#katy-gallery .img-15 {
    background-image: url(../IMG/katy-thumb/img15.png);
    background-size: cover;
    background-position: center;
}
#katy-gallery .img-16 {
    background-image: url(../IMG/katy-thumb/img16.png);
    background-size: cover;
    background-position: center;
}
#katy-gallery .img-17 {
    background-image: url(../IMG/katy-thumb/img17.png);
    background-size: cover;
    background-position: center;
}
#katy-gallery .img-18 {
    background-image: url(../IMG/katy-thumb/img18.png);
    background-size: cover;
    background-position: center;
}
#katy-gallery .img-19 {
    background-image: url(../IMG/katy-thumb/img19.png);
    background-size: cover;
    background-position: center;
}
#katy-gallery .img-20 {
    background-image: url(../IMG/katy-thumb/img20.png);
    background-size: cover;
    background-position: center;
}
#katy-gallery .img-21 {
    background-image: url(../IMG/katy-thumb/img21.png);
    background-size: cover;
    background-position: center;
}
#katy-gallery .img-22 {
    background-image: url(../IMG/katy-thumb/img22.png);
    background-size: cover;
    background-position: center;
}
#katy-gallery .img-23 {
    background-image: url(../IMG/katy-thumb/img23.png);
    background-size: cover;
    background-position: center;
}
#katy-gallery .img-24 {
    background-image: url(../IMG/katy-thumb/img24.png);
    background-size: cover;
    background-position: center;
}
#katy-gallery .img-25 {
    background-image: url(../IMG/katy-thumb/img25.png);
    background-size: cover;
    background-position: center;
}
#katy-gallery .img-26 {
    background-image: url(../IMG/katy-thumb/img26.png);
    background-size: cover;
    background-position: center;
}
#katy-gallery .img-27 {
    background-image: url(../IMG/katy-thumb/img27.png);
    background-size: cover;
    background-position: center;
}
#katy-gallery .img-28 {
    background-image: url(../IMG/katy-thumb/img28.png);
    background-size: cover;
    background-position: center;
}
#katy-gallery .img-29 {
    background-image: url(../IMG/katy-thumb/img29.png);
    background-size: cover;
    background-position: center;
}
#katy-gallery .img-30 {
    background-image: url(../IMG/katy-thumb/img30.png);
    background-size: cover;
    background-position: center;
}


#stephanie-gallery .img-1 {
    background-image: url(../IMG/steph-thumb/img1.png);
    background-size: cover;
    background-position: center;
}

#stephanie-gallery .img-2 {
    background-image: url(../IMG/steph-thumb/img2.png);
    background-size: cover;
    background-position: center;
}
#stephanie-gallery .img-3 {
    background-image: url(../IMG/steph-thumb/img3.png);
    background-size: cover;
    background-position: center;
}
#stephanie-gallery .img-4 {
    background-image: url(../IMG/steph-thumb/img4.png);
    background-size: cover;
    background-position: center;
}
#stephanie-gallery .img-5 {
    background-image: url(../IMG/steph-thumb/img5.png);
    background-size: cover;
    background-position: center;
}
#stephanie-gallery .img-6 {
    background-image: url(../IMG/steph-thumb/img6.png);
    background-size: cover;
    background-position: center;
}
#stephanie-gallery .img-7 {
    background-image: url(../IMG/steph-thumb/img7.png);
    background-size: cover;
    background-position: center;
}
#stephanie-gallery .img-8 {
    background-image: url(../IMG/steph-thumb/img8.png);
    background-size: cover;
    background-position: center;
}
#stephanie-gallery .img-9 {
    background-image: url(../IMG/steph-thumb/img9.png);
    background-size: cover;
    background-position: center;
}
#stephanie-gallery .img-10 {
    background-image: url(../IMG/steph-thumb/img10.png);
    background-size: cover;
    background-position: center;
}
#stephanie-gallery .img-11 {
    background-image: url(../IMG/steph-thumb/img11.png);
    background-size: cover;
    background-position: center;
}
#stephanie-gallery .img-12 {
    background-image: url(../IMG/steph-thumb/img12.png);
    background-size: cover;
    background-position: center;
}
#stephanie-gallery .img-13 {
    background-image: url(../IMG/steph-thumb/img13.png);
    background-size: cover;
    background-position: center;
}
#stephanie-gallery .img-14 {
    background-image: url(../IMG/steph-thumb/img14.png);
    background-size: cover;
    background-position: center;
}
#stephanie-gallery .img-15 {
    background-image: url(../IMG/steph-thumb/img15.png);
    background-size: cover;
    background-position: center;
}
#stephanie-gallery .img-16 {
    background-image: url(../IMG/steph-thumb/img16.png);
    background-size: cover;
    background-position: center;
}
#stephanie-gallery .img-17 {
    background-image: url(../IMG/steph-thumb/img17.png);
    background-size: cover;
    background-position: center;
}
#stephanie-gallery .img-18 {
    background-image: url(../IMG/steph-thumb/img18.png);
    background-size: cover;
    background-position: center;
}
#stephanie-gallery .img-19 {
    background-image: url(../IMG/steph-thumb/img19.png);
    background-size: cover;
    background-position: center;
}
#stephanie-gallery .img-20 {
    background-image: url(../IMG/steph-thumb/img20.png);
    background-size: cover;
    background-position: center;
}
#stephanie-gallery .img-21 {
    background-image: url(../IMG/steph-thumb/img21.png);
    background-size: cover;
    background-position: center;
}
#stephanie-gallery .img-22 {
    background-image: url(../IMG/steph-thumb/img22.png);
    background-size: cover;
    background-position: center;
}
#stephanie-gallery .img-23 {
    background-image: url(../IMG/steph-thumb/img23.png);
    background-size: cover;
    background-position: center;
}
#stephanie-gallery .img-24 {
    background-image: url(../IMG/steph-thumb/img24.png);
    background-size: cover;
    background-position: center;
}
#stephanie-gallery .img-25 {
    background-image: url(../IMG/steph-thumb/img25.png);
    background-size: cover;
    background-position: center;
}


#sally-gallery .img-1 {
    background-image: url(../IMG/sally-thumb/img1.png);
    background-size: cover;
    background-position: center;
}

#sally-gallery .img-2 {
    background-image: url(../IMG/sally-thumb/img2.png);
    background-size: cover;
}
#sally-gallery .img-3 {
    background-image: url(../IMG/sally-thumb/img3.png);
    background-size: cover;
    background-position: center;
}
#sally-gallery .img-4 {
    background-image: url(../IMG/sally-thumb/img4.png);
    background-size: cover;
    background-position: center;
}
#sally-gallery .img-5 {
    background-image: url(../IMG/sally-thumb/img5.png);
    background-size: cover;
    background-position: center;
}
#sally-gallery .img-6 {
    background-image: url(../IMG/sally-thumb/img6.png);
    background-size: cover;
    background-position: center;
 
}
#sally-gallery .img-7 {
    background-image: url(../IMG/sally-thumb/img7.png);
    background-size: cover;
    background-position: center;
}
#sally-gallery .img-8 {
    background-image: url(../IMG/sally-thumb/img8.png);
    background-size: cover;
    background-position: center;
}
#sally-gallery .img-9 {
    background-image: url(../IMG/sally-thumb/img9.png);
    background-size: cover;
    background-position: center;
}
#sally-gallery .img-10 {
    background-image: url(../IMG/sally-thumb/img10.png);
    background-size: cover;
    background-position: center;
    
}
#sally-gallery .img-11 {
    background-image: url(../IMG/sally-thumb/img11.png);
    background-size: cover;
    background-position: center;
    
}
#sally-gallery .img-12 {
    background-image: url(../IMG/sally-thumb/img12.png);
    background-size: cover;
    background-position: center;
    
}
#sally-gallery .img-13 {
    background-image: url(../IMG/sally-thumb/img13.png);
    background-size: cover;
    
}
#sally-gallery .img-14 {
    background-image: url(../IMG/sally-thumb/img14.png);
    background-size: cover;
    background-position: center;
   
}
#sally-gallery .img-15 {
    background-image: url(../IMG/sally-thumb/img15.png);
    background-size: cover;
    background-position: center;
}
#sally-gallery .img-16 {
    background-image: url(../IMG/sally-thumb/img16.png);
    background-size: cover;
    background-position: center;
    
}
#sally-gallery .img-17 {
    background-image: url(../IMG/sally-thumb/img17.png);
    background-size: cover;
    background-position: center;
  
}
#sally-gallery .img-18 {
    background-image: url(../IMG/sally-thumb/img18.png);
    background-size: cover;
    background-position: center;
    
}
#sally-gallery .img-19 {
    background-image: url(../IMG/sally-thumb/img19.png);
    background-size: cover;
    background-position: center;
}
#sally-gallery .img-20 {
    background-image: url(../IMG/sally-thumb/img20.png);
    background-size: cover;
    background-position: center;
   
}
#sally-gallery .img-21 {
    background-image: url(../IMG/sally-thumb/img21.png);
    background-size: cover;
    background-position: center;
    
}
#sally-gallery .img-22 {
    background-image: url(../IMG/sally-thumb/img22.png);
    background-size: cover;
    background-position: center;
}
#sally-gallery .img-23 {
    background-image: url(../IMG/sally-thumb/img23.png);
    background-size: cover;
    background-position: center;
    
}
#sally-gallery .img-24 {
    background-image: url(../IMG/sally-thumb/img24.png);
    background-size: cover;
    background-position: center;
}
#sally-gallery .img-25 {
    background-image: url(../IMG/sally-thumb/img25.png);
    background-size: cover;
    background-position: center;
    
}


#zipporah-gallery .img-1 {
    background-image: url(../IMG/zipporah-thumb/img1.png);
    background-size: cover;
    background-position: center;
}

#zipporah-gallery .img-2 {
    background-image: url(../IMG/zipporah-thumb/img2.png);
    background-size: cover;
    background-position: center;
}
#zipporah-gallery .img-3 {
    background-image: url(../IMG/zipporah-thumb/img3.png);
    background-size: cover;
    background-position: center;
}
#zipporah-gallery .img-4 {
    background-image: url(../IMG/zipporah-thumb/img4.png);
    background-size: cover;
    background-position: center;
}
#zipporah-gallery .img-5 {
    background-image: url(../IMG/zipporah-thumb/img5.png);
    background-size: cover;
    background-position: center;
}
#zipporah-gallery .img-6 {
    background-image: url(../IMG/zipporah-thumb/img6.png);
    background-size: cover;
    background-position: center;
}
#zipporah-gallery .img-7 {
    background-image: url(../IMG/zipporah-thumb/img7.png);
    background-size: cover;
    background-position: center;
}
#zipporah-gallery .img-8 {
    background-image: url(../IMG/zipporah-thumb/img8.png);
    background-size: cover;
    background-position: center;
}
#zipporah-gallery .img-9 {
    background-image: url(../IMG/zipporah-thumb/img9.png);
    background-size: cover;
    background-position: center;
}
#zipporah-gallery .img-10 {
    background-image: url(../IMG/zipporah-thumb/img10.png);
    background-size: cover;
    background-position: center;
}
#zipporah-gallery .img-11 {
    background-image: url(../IMG/zipporah-thumb/img11.png);
    background-size: cover;
    background-position: center;
}
#zipporah-gallery .img-12 {
    background-image: url(../IMG/zipporah-thumb/img12.png);
    background-size: cover;
    background-position: center;
}
#zipporah-gallery .img-13 {
    background-image: url(../IMG/zipporah-thumb/img13.png);
    background-size: cover;
    background-position: center;
}
#zipporah-gallery .img-14 {
    background-image: url(../IMG/zipporah-thumb/img14.png);
    background-size: cover;
    background-position: center;
}
#zipporah-gallery .img-15 {
    background-image: url(../IMG/zipporah-thumb/img15.png);
    background-size: cover;
    background-position: center;
}
#zipporah-gallery .img-16 {
    background-image: url(../IMG/zipporah-thumb/img16.png);
    background-size: cover;
    background-position: center;
}
#zipporah-gallery .img-17 {
    background-image: url(../IMG/zipporah-thumb/img17.png);
    background-size: cover;
    background-position: center;
}
#zipporah-gallery .img-18 {
    background-image: url(../IMG/zipporah-thumb/img18.png);
    background-size: cover;
    background-position: center;
}
#zipporah-gallery .img-19 {
    background-image: url(../IMG/zipporah-thumb/img19.png);
    background-size: cover;
    background-position: center;
}
#zipporah-gallery .img-20 {
    background-image: url(../IMG/zipporah-thumb/img20.png);
    background-size: cover;
    background-position: center;
}
#zipporah-gallery .img-21 {
    background-image: url(../IMG/zipporah-thumb/img21.png);
    background-size: cover;
    background-position: center;
}
#zipporah-gallery .img-22 {
    background-image: url(../IMG/zipporah-thumb/img22.png);
    background-size: cover;
    background-position: center;
}
#zipporah-gallery .img-23 {
    background-image: url(../IMG/zipporah-thumb/img23.png);
    background-size: cover;
    background-position: center;
}
#zipporah-gallery .img-24 {
    background-image: url(../IMG/zipporah-thumb/img24.png);
    background-size: cover;
    background-position: center;
}
#zipporah-gallery .img-25 {
    background-image: url(../IMG/zipporah-thumb/img25.png);
    background-size: cover;
    background-position: center;
}

#profile-footer .footer-container {
    border-top: 1px solid black;
}

.img-window {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.img-window img {
    height: 65vh;
    width: 90VW;
    object-fit: cover;
}
/* Next image*/
.img-btn-next, .img-btn-prev {
    padding: 6px 10px;
    background-color: #111;
    position: fixed;
    bottom: 10vh;
    z-index: 500;
    font-family: 'Cinzel', serif;
    cursor: pointer;
    color: white;
    
}

.img-btn-next {
    right: 30px;
}

.img-btn-prev {
    left: 30px;
}

.img-btn-next:hover {
 opacity: 0.8;
}

.img div {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
.img div:hover {
    opacity: 0.5;
}


@media only screen and (min-width: 400px) {
    .gallery {

        grid-template-columns: repeat(3, minmax(10px, 1fr));
        grid-template-rows: repeat(8, 110px);
        grid-gap: 10px;
    }
    #zipporah-gallery  {
        grid-template-rows: repeat(7, 110px);
    }

    .img {
        height: 110px;
        width: 110px;
    }
}

@media only screen and (min-width: 550px) {
    .bio {
        font-size: 1em;

    }
    .gallery {

        grid-template-columns: repeat(4, minmax(10px, 1fr));
        grid-template-rows: repeat(5, 130px);
    }

    #zipporah-gallery  {
        grid-template-rows: repeat(4, 130px);
    }

    .img {
        height: 130px;
        width: 130px;
    }
}
@media only screen and (min-width: 900px) {

  
    #profile-hero {
        padding: 70px 0px;
    }
    .bio {
        width: 70%;

    }

    .gallery {

        margin-bottom: 50px;
    }

    .img-window img {
        height: 70vh;
        max-width: 80VW;
        
    }
    /* Next image*/
    .img-btn-next, .img-btn-prev {
        bottom: 48vh;
    }

    #profile-footer {
        transform: translateY(0);
        
    }
    
    #profile-footer .footer-container {
        border: none
    }
}

@media only screen and (min-width: 1000px) {
    
    #profile-hero {
        padding: 70px 0px;
        width: 90%;
    }

    #zipporah-gallery {
        grid-template-columns: repeat(5, minmax(10px, 1fr));
        grid-template-rows: repeat(4, 150px);
    }

    .gallery {

        grid-template-columns: repeat(5, minmax(10px, 1fr));
        grid-template-rows: repeat(5, 150px);
    }

    .img {
        height: 150px;
        width: 150px;
    }
}

@media only screen and (min-width: 1600px) {
    
    #profile-hero {
        padding: 100px 0px;
        width: 85%;
    }

    .bio {
        font-size: 1.2em;
        width: 60%;
    }

    .gallery {

        grid-template-columns: repeat(6, minmax(10px, 1fr));
        grid-template-rows: repeat(5, 180px);
    }

    .img {
        height: 180px;
        width: 180px;
    }
    .img-window img {
        height: 90vh;
        width: 50VW;
        
    }
}

@media only screen and (min-width: 1800px) {
    
    #profile-hero {
        width: 75%;
    }

}

